.likes-show{
  padding: 20px;
  .like{
    display: flex;
    margin: 0 100px 50px;
    padding-bottom: 20px;
    width: 500px;
    border-bottom: 1px solid gray;
    &__info{
      margin-right: 50px;
      &__name{
        font-size: 24px;
        margin-bottom: 10px;
      }
      &__genre{
        margin-left: 30px;
      }
    }
    &__follow{
      &__btn{
        margin: 10px 0 5px 0;
        padding: 0 10px;
        font-size: 16px;
        height: 30px;
        line-height: 30px;
        border-radius: 4px;
        background-color: rgb(219, 76, 207);
        border-style: none;
        box-shadow: 2px 2px 2px gray;
        &:active{
          box-shadow: none;
          transform: translate3d(1px, 1px, 1px);
        }
        a{
          outline: none;
          color: white;
          text-decoration: none;
        }
      }
      &__num{
        font-size: 14px;
      }
    }
  }
  .followers{
    margin: 0 100px;
    &__index{
    
    }
    &__users{
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      &__user{
        width: 150px;
        background-color: rgba(219, 76, 207, 0.562);
        border-radius: 20px;
        margin: 0 10px 10px 0;
        box-shadow: 2px 2px 2px gray;
        &:active{
          box-shadow: none;
          transform: translate3d(1px, 1px, 1px);
        }
        .link{
          display: flex;
          outline: none;
          text-decoration: none;
          &__avatar{
            height: 30px;
            width: 30px;
            margin-right: 5px;
            border-radius: 15px;
          }
          &__name{
            text-align: center;
            line-height: 30px;
            color: rgba(0, 0, 0, 0.692);
          }
        }
      }
    }
  }
}
