.follow-btn{
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  width: 100px;
  border-radius: 4px;
  background-color: rgb(219, 76, 207);
  border-style: none;
  color: white;
  margin: 5px 0 0 20px;
  box-shadow: 2px 2px 2px gray;
  text-align: center;
  &:active{
    box-shadow: none;
    transform: translate3d(1px, 1px, 1px);
  }
}
.yet{
  background-color: rgba(128, 128, 128, 0.233) !important;
  color: black ;
  a{
    color: black !important;
  }
}