.follow-btn{
  font-size: 16px;
  display: block;
  height: 30px;
  line-height: 30px;
  width: 100px;
  border-radius: 4px;
  text-decoration: none;
  background-color: rgb(219, 76, 207);
  border: 1px solid rgb(219, 76, 207);
  color: white;
  margin: 5px 0 0 20px;
  box-shadow: 2px 2px 2px gray;
  outline: none;
  &:active{
    transform: translate3d(1px, 1px, 1px);
  }
}
.yet{
  background-color: gray;
  border: 1px solid gray;
}