.like-new
  = form_with model: @like, class: "like-form" do |f|
    .search__like
      %label{for: "search__like__box"}
        まずは好きなものを検索してみましょう
      %br
      %input#search__like__box{placeholder: "映画・漫画のタイトルなど"}
      = f.text_field :name, class: "name", type: "hidden"

= javascript_pack_tag "like_new"