= form_with model: @like, class: "like-form" do |f|
  .like-form__detail
    = f.label :name, "あなたの好きなものを登録しましょう", class: "label"
    %br
    = f.text_field :name, placeholder: "「好きを入力してください」", class: "name"
  =f.submit