.header
  .header__logo
    = link_to "Find Likes", root_path
  - if user_signed_in?
    .header__menu
      = link_to "My Page", user_path(current_user), class: "mypage"
      = link_to "Log out", destroy_user_session_path, method: :delete, class: "logout"
      = link_to "New Like", new_like_path, class: "create-like"