@mixin fadein{
  animation: fadeinanim;
  animation-duration: 3s;
}


@keyframes fadeinanim {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}